body{background-color:#ffe6e6}
h1{background-color:#ccccff;color:#e6f2ff;font-family:verdana}
h2{background-color:#cce6ff;color:#e6ffff;font-family:verdana}
div{background-color:#ffcc99;color:white;font:georgia}
p{background-color:#ffff99;color:#ff9966}
